
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Estonia&display=swap');
body{
    background-color: aqua;
    font-family: 'Estonia',cursive;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-size: 24px;
    width:100%;
}
nav ul {
    display: flex;
    background: rgb(66, 2, 2);
    color: white;
    align-items: center;
    list-style-type: none;
    height: 50px;
}
nav ul li {
    padding: 0px 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ol {
    margin-top: 2px;
    display: flex;
    background: rgb(43, 2, 66);
    color: white;
    align-items: center;
    list-style-type: none;
    height: 50px;;
}
nav ol li{
    padding:0px 20px;
}
.ShopItems:hover{
    cursor: pointer;
}
div{
    display: flex;
    list-style-type: none;
    width: 100%;
}
div p {
    padding: 5px;
    font-size: 24px;
}
.cart{
    border: aqua;
    color: white;
    background-color: red;
    border-radius: 3px;
}

#showItems{
    font-size: 30px;
}

button:hover{
    cursor:pointer;
}



.AboutTP{
    font-size: 40px;
    padding-left: 5px;
    color: red;
}
.ContactUs{
    font-size: 40px;
    padding-left: 5px;
    color: blue;
}
